*{
    font-family:Inter;
    margin: 0%;
     padding:0%;
}
.headfirst{
    background: rgba(255, 205, 158, 1);
    display:flex;
    flex-flow: row;
  padding-left:136px;
  padding-top:40px;
}
h1{
    width:500px;
    height:100px;
}
#forpadd{
padding-top:3%;
font-size:20px;
font-weight:400;
width: 495px;
height:80px;
}
#ndpad{
padding-top:3%;
font-size: 18px;;
}
.padding{
 padding-top:3%;
}
#a{
    padding:2.5%;
    color: rgba(255, 255, 255, 1);

}
/*img{
   padding-right:20%;
 
}*/
input,button{
    border-radius:5px;
    border: 5px solid rgba(0, 0, 0, 1);
    font-size: 20px; 
    padding:0.8%
}
button{
    background-color:rgba(0, 0, 0, 1);
    color:white;
}

.footertotal{
    display:flex;
    background: rgba(40, 40, 40, 1);
   color: rgba(255, 255, 255, 1);
   line-height:35px;
   font-size:20px;
   font-weight: 400;
}
.footerleft{
padding-left:8%;
padding-top:3.5%;
padding-bottom:3.5%;
}
.footerright{
    text-align:right;
    padding-left:45%;
    padding-top:3.5%;
    padding-bottom:3.5%;
}

